@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Poppins&display=swap');

* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        /* font-family: 'Hachi Maru Pop', cursive; */
}

body {
        background-color: #121321;
        /* background-image: url("https://transparenttextures.com/patterns/45-degree-fabric-light.png"); */
}

section {
        position: relative;
        min-height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        perspective: 1000px;
}

section::before {
        content: "";
        position: absolute;
        height: 240px;
        width: 240px;
        border-radius: 50%;
        transform: translate(-150px, -100px);
        background: linear-gradient(90deg, #F7a631, #F5ca8e);
}

section::after {
        content: "";
        position: absolute;
        height: 240px;
        width: 240px;
        border-radius: 50%;
        transform: translate(150px, 100px);
        background: linear-gradient(90deg, #F7a631, #F5ca8e);
}

.container {
        position: relative;
        height: 320px;
        width: 300px;
        z-index: 100;
        transition: 0.6s;
        transform-style: preserve-3d;
}

.container:hover {
        transform: rotateY(180deg);
}

.container .card {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, .1);
        border: 1px solid rgba(255, 255, 255, .1);
        border-radius: 20px;
        box-shadow: 0 25px 45px rgba(0, 0, 0, .25);
        backdrop-filter: blur(25px);
        transition: all 0.3s ease;
        font-family: 'Poppins', sans-serif;
        backface-visibility: hidden;
}

.profile {
        display: flex;
        justify-content: space-between;
        padding: 10px 15px;
        border-bottom: 1px solid rgba(255, 255, 255, .4);
}

.profile>p {
        padding-top: 10px;
        color: #fff;
        font-size: 20px;
}

.front-face .profile>img {
        width: 40px;
        border-radius: 50%;
        border: 2px solid white;
}

.info {
        padding: 20px;
        color: white;
        font-size: .8rem;

}

.socials {
        padding: 5px 20px;
}

.links {
        margin-bottom: 30px;
}

.links a {
        padding-left: 10px;
        color: #F5ca8e;
        text-decoration: none;

}

.links>img {
        margin-bottom: -5px;
}

.ad {
        border-top: 1px solid rgba(255, 255, 255, .4);
        color: white;
        font-size: 12px;
        font-family: 'Hachi Maru Pop', cursive;
        padding: 10px 20px;
}

.card.back-face {
        transform: rotateY(180deg);
        text-align: center;
        padding: 50% 10px;
}

.card.back-face>h1 {
        color: #fff;
        margin: auto;
        letter-spacing: 6px;
        font-family: 'Hachi Maru Pop', cursive;
}

.card.back-face>h1>.slash {
        color: #F7a631;

}

.card.back-face>ul {
        display: flex;
        justify-content: space-between;
        padding: 10px 30px;
        margin-top: 10px;
        font-size: 12px;
}

.card.back-face>ul>li {
        color: #F7a631;
}

.card.back-face>ul>li>.is {
        color: white;
}

@media screen and (max-width: 600px) {
        section::before {
                content: "";
                position: absolute;
                height: 150px;
                width: 150px;
                border-radius: 50%;
                transform: translate(-100px, -100px);
                background: linear-gradient(90deg, #F7a631, #F5ca8e);
        }

        section::after {
                content: "";
                position: absolute;
                height: 150px;
                width: 150px;
                border-radius: 50%;
                transform: translate(86px, 40px);
                background: linear-gradient(90deg, #F7a631, #F5ca8e);
        }

        .container {
                height: 330px;
                width: 300px;
        }

        .links {
                font-size: .8rem;
        }
}